<script>
export default {
    mounted() {
        this.$store.dispatch('loadArticles')
    },
    computed: {
        article() {
            return this.$store.getters.getArticleById(this.$route.params.id)
        }
    },
    methods: {
        back() {
            this.$router.go(-1)
        }
    }
};
</script>
<template>
    <div class="wrapper">
        <div class="wrapper__header">
            <button class="back" @click="back">Назад</button>
            <div class="time">{{ article.date }}</div>
        </div>
        <img :src="'/public/' + article.full_image" />
        <h1>{{ article.name }}</h1>
        <p>{{ article.desc }}</p>
    </div>
</template>
<style scoped>
.wrapper {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.wrapper__header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.back {
    font-weight: 300;
    /* Переопределение стилей Vuetify */
    background-color: cadetblue !important;
    color: black;
    transition: .3s;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

.back:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
</style>