<script>
export default {
    computed: {
        slides() {
            return this.$store.getters.getArticles
        }
    },
    mounted() {
        this.$store.dispatch('loadArticles')
    }
}
</script>
<template>
    <h1 class="text-center">Главная страница</h1>
    <v-app>
        <v-carousel cycle height="400" hide-delimiter-background show-arrows-on-hover>
            <v-carousel-item v-for="(slide, i) in slides" :key="i" :src="slide.preview_image" h-25>
                <div class="d-flex fill-height justify-center align-center">
                    <div class="text-h2">
                        {{ slide.name }}
                    </div>
                </div>
            </v-carousel-item>
        </v-carousel>
    </v-app>
</template>
<style>
/* Переопределение Vuetify стилей */
.v-img__img--contain {
    object-fit: cover !important;
}

.text-h2 {
    background: cadetblue !important;
}
</style>