<script>
export default {
    computed: {
        articles() {
            return this.$store.getters.getArticles
        }
    },
    mounted() {
        this.$store.dispatch('loadArticles')
    }
};
</script>
<template>
    <h1 class="text-center">Новости</h1>
    <ul id="articles">
        <li v-for="{id, date, preview_image, name, shortDesc} in articles" :key="id">
            <RouterLink :to="'/article/'+ id">
                <div class="wrapper-link">
                    <span class="article-date">{{ date }}</span>
                    <img :src="'/public/' + preview_image" class="article-preview" />
                    <p class="article-name">{{ name }}</p>
                    <p class="article-shortdesc">{{ shortDesc }}</p>
                </div>
            </RouterLink>
        </li>
    </ul>
</template>
<style scoped>
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    flex: 1;
    margin: 20px;
}

a,
a:checked {
    color: black;
}

img {
    width: 100%;
}
</style>