<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>
<template>
  <header>
    <img src="https://www.tadviser.ru/images/d/d8/Politech.png" alt="logo" height="100" />
    <nav>
      <RouterLink to="/">Главная</RouterLink>
      <RouterLink to="/about">О нас</RouterLink>
      <RouterLink to="/news">Новости</RouterLink>
    </nav>
  </header>
  <RouterView />
</template>
<style>
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

a,
a:visited {
  font-weight: 300;
  color: cadetblue;
  background-color: black;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  text-decoration: underline;
}
</style>